<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chargingstation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.chargingstation.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServe</display-name>
    <servlet-name>RegisterServe</servlet-name>
    <servlet-class>com.chargingstation.RegisterServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServe</servlet-name>
    <url-pattern>/RegisterServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userloginServe</display-name>
    <servlet-name>userloginServe</servlet-name>
    <servlet-class>com.chargingstation.userloginServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userloginServe</servlet-name>
    <url-pattern>/userloginServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chargingstationloginServe</display-name>
    <servlet-name>chargingstationloginServe</servlet-name>
    <servlet-class>com.chargingstation.chargingstationloginServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargingstationloginServe</servlet-name>
    <url-pattern>/chargingstationloginServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chargingstation_register_servelet</display-name>
    <servlet-name>chargingstation_register_servelet</servlet-name>
    <servlet-class>com.chargingstation.chargingstation_register_servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargingstation_register_servelet</servlet-name>
    <url-pattern>/chargingstation_register_servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.chargingstation.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>charging_station_approved</display-name>
    <servlet-name>charging_station_approved</servlet-name>
    <servlet-class>com.chargingstation.charging_station_approved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>charging_station_approved</servlet-name>
    <url-pattern>/charging_station_approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chargingstation_booking_serve</display-name>
    <servlet-name>chargingstation_booking_serve</servlet-name>
    <servlet-class>com.chargingstation.chargingstation_booking_serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargingstation_booking_serve</servlet-name>
    <url-pattern>/chargingstation_booking_serve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepowerServe</display-name>
    <servlet-name>updatepowerServe</servlet-name>
    <servlet-class>com.chargingstation.updatepowerServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepowerServe</servlet-name>
    <url-pattern>/updatepowerServe</url-pattern>
  </servlet-mapping>
</web-app>